In [79]:
import os
import pandas as pd
import numpy as np

from datetime import datetime, timedelta

import os

## Import dataset

In [80]:
path = "./data/01aJourneyDataExtract10Jan16-23Jan16.csv"
dataset = pd.read_csv(path)
dataset.head()

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,50754225,240,11834,10/01/2016 00:04,383.0,"Frith Street, Soho",10/01/2016 00:00,18,"Drury Lane, Covent Garden"
1,50754226,300,9648,10/01/2016 00:05,719.0,"Victoria Park Road, Hackney Central",10/01/2016 00:00,479,"Pott Street, Bethnal Green"
2,50754227,1200,10689,10/01/2016 00:20,272.0,"Baylis Road, Waterloo",10/01/2016 00:00,425,"Harrington Square 2, Camden Town"
3,50754228,780,8593,10/01/2016 00:14,471.0,"Hewison Street, Old Ford",10/01/2016 00:01,487,"Canton Street, Poplar"
4,50754229,600,8619,10/01/2016 00:11,399.0,"Brick Lane Market, Shoreditch",10/01/2016 00:01,501,"Cephas Street, Bethnal Green"

In [81]:
df = dataset
df[['End Date', 'Start Date']] = dataset[['End Date', 'Start Date']].apply(pd.to_datetime, dayfirst=True).apply(lambda x: x.dt.time)
df.head()

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,50754225,240,11834,00:04:00,383.0,"Frith Street, Soho",00:00:00,18,"Drury Lane, Covent Garden"
1,50754226,300,9648,00:05:00,719.0,"Victoria Park Road, Hackney Central",00:00:00,479,"Pott Street, Bethnal Green"
2,50754227,1200,10689,00:20:00,272.0,"Baylis Road, Waterloo",00:00:00,425,"Harrington Square 2, Camden Town"
3,50754228,780,8593,00:14:00,471.0,"Hewison Street, Old Ford",00:01:00,487,"Canton Street, Poplar"
4,50754229,600,8619,00:11:00,399.0,"Brick Lane Market, Shoreditch",00:01:00,501,"Cephas Street, Bethnal Green"

In [82]:
# morning = "09:00:00"
# evening = "17:00:00"
# morning_time = datetime.strptime(morning, "%H:%M:%S").time()
# evening_time = datetime.strptime(evening, "%H:%M:%S").time()
# print(morning_time, evening_time)

## Morning hours

In [83]:
# # Calcul de morning_start et morning_end
# morning_start = (datetime.combine(datetime.today(), morning_time) - timedelta(hours=1)).time()
# morning_end = (datetime.combine(datetime.today(), morning_time) + timedelta(hours=1)).time()

# df_morning = df[(df['Start Date'] >= morning_start) & (df['Start Date'] <= morning_end)]
# df_morning = df_morning.reset_index(drop=True)
# df_morning.head()

In [84]:
# # Elimination colones superflues
# df_morning = df_morning.drop(["Duration","Rental Id", "End Date","EndStation Id", "EndStation Name"], axis=1)
# df_morning.head()

In [85]:
# df_morning.columns

## Evening hours

In [86]:
# # Calcul de evening_start et evening_end
# evening_start = (datetime.combine(datetime.today(), evening_time) - timedelta(hours=1)).time()
# evening_end = (datetime.combine(datetime.today(), evening_time) + timedelta(hours=1)).time()

# df_evening = df[(df['Start Date'] >= evening_start) & (df['Start Date'] <= evening_end)]
# df_evening = df_evening.reset_index(drop=True)
# df_evening.head()

In [87]:
# # Elimination colones superflues
# df_evening = df_evening.drop(["Duration","Rental Id", "End Date","EndStation Id", "EndStation Name"], axis=1)
# df_evening.head()

In [88]:
# print(df_morning.dtypes)

# Machine Learning
## Morning

In [90]:
# Echantillon pour mise en place
 cd
df = df.sample(n=10000, random_state=4)
df.head()

,Bike Id,Start Date,StartStation Id,StartStation Name
1193,969,09:16:00,185,"Alderney Street, Pimlico"
178542,10131,06:34:00,695,"Islington Green, Angel"
200134,64,20:14:00,77,"Russell Square Station, Bloomsbury"
49089,12488,16:06:00,281,"Smith Square, Westminster"
136103,3599,14:43:00,379,"Turquoise Island, Notting Hill"

In [74]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)